<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0sB0vCX2nj2tRn0Cg9UooN3JE622jKvo&libraries=places&callback=initSearchBox"
        async defer></script>

<div class="Articles-index">
  <h1>Search Google to simulate a autocomplete search</h1>
  <input type="search" id="search" placeholder="search" />
</div>
