<header class="navbar">
  <section class="navbar-section">
    <%= link_to 'Search Articles', articles_path, class: 'btn btn-link' %>
    <%= link_to 'Admin Analytics', searches_path, class: 'btn btn-link' %>
  </section>
  <section class="navbar-center">
    <!-- centered logo or brand -->
  </section>
  <section class="navbar-section">
    <a href="https://github.com/neves/search-analytics" class="btn btn-link">GitHub</a>
  </section>
</header>
